button {
  background: white;
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}
input {
  background-color: transparent;
  font-size: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  width: 30rem;
  height: 20rem;
}
.post-preview {
  background-color: black;
  border: solid rgb(0, 0, 0);
  border-radius: 12px;
  
}


form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}