.newPostPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.newPostCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 200px;
  width: 300px;
  background: linear-gradient(135deg, #0d0d0d, #171717);
  border: 1px solid #0f0f0f;
  border-radius: 20px;
  padding: 1rem;
}

.new-post-input {
  background: transparent;
  color: #ccc;
  border: none;
}

.newPostDate {
  font-size: 12px;
}

.btnNewPost {
  width: 10rem;
  background: white;
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}
