/* A supprimer je pense */

.commentForm {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment-container {
  padding: 1rem;
  text-align: left;
  background-color: transparent;
  font-size: 1.5rem;
  background: linear-gradient(135deg, #e3e3e3, #959595);
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 300px;
}

.btnComm {
  width: 10rem;
  background: white;
  color: black;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  cursor: pointer;
}
