.comment-card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5px;
  background: linear-gradient(135deg, #e3e3e3, #959595);
  width: 17rem;
  text-align: left;
  align-items: center;
}

.comment-author {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0;
  border-left: 100px;
  color: black;
}

.comment-content {
  font-size: 13px;
  line-height: 1.6;
  color: black;
  margin: 0 0 0 5px;
}
.comment-date {
  font-size: 10px;
  color: gray;
  margin: 0 0 0 5px;
}

.comment-open {
  flex: 1;
}

.commentrash {
  height: 1.7rem;
  cursor: pointer;
}