form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 3rem; /* Risque de changer avec l'import du title */
}

input {
  background-color: transparent;
  font-size: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}

a {
  display: flex;
  justify-content: center;
  color: #777;
  text-decoration: underline;
  padding-top: 3rem;
}
