.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loginForm {
  display: flex;
  align-items: center;
}

.email,
.mdp {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  font-weight: bold;
}

.email,
.mdp::placeholder {
  color: #777;
}

.btnLogin {
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.lien {
  color: #777;
  text-decoration: underline;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
