.ProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.profilContainer {
  display: flex;
  flex-direction: column;
}

.postNumber {
  align-self: flex-start;
  margin: 2rem 0 0 0;
}